div.logo
{
    float: left;
    font-size: xx-large;
    margin-top: 5px;
    margin-left: 5px;
    border-style: solid;
    border-color:skyblue;
    border-width: 2px;
    font-family:sans-serif;
}